.box {
    width: 80%;
    min-width: 320px;
}

.nav-bar {
    height: 60px;
    justify-content: center;
    align-items: center;
}

.nav-bar img {
    width: 50px;
}

.nav-bar ul {
    position: fixed;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    gap: 20px;
    right: -50%;
    top: 0px;
    padding: 70px 30px;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    transition: all 1s ease;
}

.nav-bar .open ul {
    left: unset;
    right: 0px;
}

.nav-bar ul li a {
    color: #4F4F4F;
}

#menu {
    display: block;
}

#close {
    display: none;
}

.perfil {
    flex-direction: column;
    margin-top: 20px;
}

#selfie {
    margin: 22px;
}

.name-contact {
    flex-direction: column;
    margin: 22px;
    margin-top: 0px;
}

.contact p {
    margin-top: 5px;
}

.hobbie h3 {
    margin-left: 22px;
}

.hobbie p {
    margin-left: 22px;
    margin-right: 22px;
}

.reference {
    margin-left: 5px;
}

.project {
    box-sizing: border-box;
}